container_commands:
    01_install_gcc:
      command: 'yum install -y gcc-c++ make'
    02_download_node:
      command: "curl -sL https://rpm.nodesource.com/setup_6.x | bash -E"
    03_install_node:
      command: 'yum install -y nodejs'
    04_install_node_modules:
      command: 'npm install --save-dev cross-env'
    05_run_production:
      command: 'npm run production'
