Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Metadata:
      AWS::CloudFormation::Authentication:
        S3AccessCred:
          type: "S3"
          roleName: "aws-elasticbeanstalk-ec2-role"
          buckets: "test-settings"

files:
  "/tmp/test.env":
    mode: "000777"
    owner: root
    group: root
    source: https://s3-ap-northeast-1.amazonaws.com/test-settings/test.env
    authentication: S3AccessCred

container_commands:
  00_move_staging_env:
    command: "mv /tmp/test.env /var/app/ondeck/.env"
